In [10]:
import pandas as pd
data = pd.read_csv('E:/OneDrive/python/projects/project_3/datasets/real_estate_data.csv')
display(data.head(10))
data.info()

  total_images\tlast_price\ttotal_area\tfirst_day_exposition\trooms\tceiling_height\tfloors_total\tliving_area\tfloor\tis_apartment\tstudio\topen_plan\tkitchen_area\tbalcony\tlocality_name\tairports_nearest\tcityCenters_nearest\tparks_around3000\tparks_nearest\tponds_around3000\tponds_nearest\tdays_exposition
0  20\t13000000.0\t108.0\t2019-03-07T00:00:00\t3\...
1  7\t3350000.0\t40.4\t2018-12-04T00:00:00\t1\t\t...
2  10\t5196000.0\t56.0\t2015-08-20T00:00:00\t2\t\...
3  0\t64900000.0\t159.0\t2015-07-24T00:00:00\t3\t...
4  2\t10000000.0\t100.0\t2018-06-19T00:00:00\t2\t...
5  10\t2890000.0\t30.4\t2018-09-10T00:00:00\t1\t\...
6  6\t3700000.0\t37.3\t2017-11-02T00:00:00\t1\t\t...
7  5\t7915000.0\t71.6\t2019-04-18T00:00:00\t2\t\t...
8  20\t2900000.0\t33.16\t2018-05-23T00:00:00\t1\t...
9  18\t5400000.0\t61.0\t2017-02-26T00:00:00\t3\t2...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                           --------------  -----
 0   total_images	last_price	total_area	first_day_exposition	rooms	ceiling_height	floors_total	living_area	floor	is_apartment	studio	open_plan	kitchen_area	balcony	locality_name	airports_nearest	cityCenters_nearest	parks_around3000	parks_nearest	ponds_around3000	ponds_nearest	days_exposition  23699 non-null  object
dtypes: object(1)
memory usage: 185.3+ KB